.modal.show 
    display block


.table 
    .loader-cell
        text-align center
        vertical-align middle
        height 70px
        .loader
            display inline-block
            position relative
            top -4px


.loader-wrapper
    position relative
    .loader
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)


.modal
    .loader-wrapper
        min-height 150px